<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">


  <div fxFlex="40">
    <p>Display the details of the Dish here</p>
  </div>

  <div fxFlex="40">
    <p>Display the list of comments here</p>
  </div>
  <!-- <div fxFlex="40">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{Dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src={{Dish.image}} alt={{Dish.name}}>
      <md-card-content>
        <p>{{Dish.description}}
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </div>

  <div fxFlex="40">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>Comments:</h3>
        </md-card-title>
      </md-card-header>

      <md-card-content>
        <md-list-item *ngFor="let comment of Dish.comments">
          <p md-line>
            <span>{{comment.comment}}</span>
          </p>
          <p md-line>
            <span>
              <b>ratta</b>
            </span>
            <span>{{comment.rating}}</span>
          </p>
          <p md-line>
            <span>--{{comment.author}}</span>
            <span>{{comment.date | date:'mediumDate'}}</span>
          </p>
        </md-list-item> -->

  <!-- <md-list-item *ngFor="let dish of dishes">
          <h1 md-line> {{dish.name}} </h1>
          <p md-line>
            <span> {{dish.description}} </span>
          </p>
        </md-list-item> -->
  <!-- </md-card-content>
    </md-card> -->
</div>

</div>
